body{
    padding: 0px 40px 0px 40px; 

}

.main-brand {
    color:black;
    text-align:center;
    font-size:50px;
    font-family: 'Great Vibes', cursive;
    font-weight:normal;
    margin-top:65px;
    margin-bottom:65px;
}

h2{
    text-align: center;
    font-family: 'Old Standard TT', serif; 
    font-weight: 400;
    font-style: italic;
}
 /**
 @reference - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */
.row-1 {
    display: flex; /* or inline-flex */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

.story{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 20px 10px;
    flex: 1;
}

.story-highlight{
    flex: 2;
}

.story-highlight img {
    width: 100%;
}

.row-2{
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 65px;
}

.topics{
    display: flex;
    flex: 3.1;
    border-right: 1px solid grey;
    align-items: stretch;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

.topic{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.topic h2{
    text-align: left;
    font-weight: bold;
}

.bg-yellow{
    background-color: #fdebaf;
}

.bg-cyan{
    background-color: #9aeaeb;
}

.bg-green{
    background-color: #82ebc7;
}

.bg-indigo{
    background-color: #81b9f9;
}

.bg-purple{
    background-color: #9f9df8;
}